<h1>Restablecer contraseña</h1>
{% if messages %}{% for m in messages %}<p>{{ m }}</p>{% endfor %}{% endif %}
<form method="post">
  {% csrf_token %}

  <label>Usuario</label><br>
  <input name="username" required value="{{ request.POST.username|default:username|default_if_none:'' }}"><br>
  <label>Correo</label><br>
  <input name="correo" type="email" required value="{{ request.POST.correo|default:correo|default_if_none:'' }}"><br>

  <label>Código</label><br>
  <input name="codigo" required value="{{ request.POST.codigo|default_if_none:'' }}"><br>
  <label>Nueva contraseña (La contraseña debe tener al menos 3 caracteres)</label><br>
  <input name="password" type="password" required><br><br>
  <button type="submit">Cambiar</button>
</form>
